$colorT1:  rgba(221,69,27,1);
$colorT2: rgba(0,145,137,1);
$colorT3: rgba(160,67,99,1);
$grey: #aaa;

// other mainColor :
// orange : rgba(221,69,27,1.0);
// green : rgba(0,145,137,1);
//violet : rgba(160,67,99,1);


/************************ GENERAL *********************/

html,
body { 
	height: 100%;
}

body{
	font-size: 16px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	color: darken($grey, 30%);
	list-style-type: none;
}

ul li{
	list-style-type: none;
}
ul{margin: 0;padding: 0;}

.cadre{
    position: fixed;
    z-index: 999999;
}
.c-top{ top: 0; height: 10px; width: 100%;}
.c-bottom{ bottom: 0; height: 10px; width: 100%;}
.c-left{ left: 0; height: 100%; width: 10px;}
.c-right{ right: 0; height: 100%; width: 10px;}


a{ 
	text-decoration: none; 
}

.com-alert, 
.contact_error,
.contact_success{
	border: 4px solid #FF8080;
	font-weight: bold;
	display: inline-block;
	padding: 10px;
	margin-bottom: 10px;
}

.contact_success{
	border: 4px solid #9CDD51;
}

.error440{
	position: absolute;
	top: 45%;
	left: calc(50% - 130px);
	a{
		text-decoration: underline;
	}
}

/************************ CHANGEMENT COULEUR *********************/

.theme1 .cRandom { color: $colorT1; }
.theme2 .cRandom { color: $colorT2; }
.theme3 .cRandom { color: $colorT3; }

.theme1 .fRandom { fill: $colorT1; }
.theme2 .fRandom { fill: $colorT2; }
.theme3 .fRandom { fill: $colorT3; }

.theme1 .sRandom { stroke: $colorT1; }
.theme2 .sRandom { stroke: $colorT2; }
.theme3 .sRandom { stroke: $colorT3; }

.theme1 .bgRandom { background-color: $colorT1; }
.theme2 .bgRandom { background-color: $colorT2; }
.theme3 .bgRandom { background-color: $colorT3; }

.theme1 nav a.active::first-letter{ color: $colorT1; }
.theme2 nav a.active::first-letter{ color: $colorT2; }
.theme3 nav a.active::first-letter{ color: $colorT3; }

/************************ FORMULAIRE *********************/

form{ max-width: 500px;}

input.btn {
	background-color: lighten($grey,30%);
	padding: 10px 20px;
	margin-right: 10px;
	box-shadow: 1px 3px 1px lighten($grey,25%);
	border:none;

	&:hover {
		color:darken($grey,10%); 
	}
	&:active {
		box-shadow: 0px 1px 1px lighten($grey,25%);
		position: relative;
		top:2px;
	}
}

input,
textarea{
	border:1px dashed $grey;
	padding: 10px;
	background-color: rgba(255,255,255,0.7);
}

textarea{ width: 100%;}

/************************ HOME *********************/

section.home{

	background:transparent url('../../img/backHome.jpg') center no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;

	.groundHome{
		width: 100%;
		height: 300px;
		position: absolute;
		bottom: 0;
	}

	.content{

		position: absolute;
		bottom:225px;
		font-family: 'Amaranth', sans-serif;
		font-size: 2.5rem;
		$width: 600px;
		width: $width;
		height: 350px;
		left: calc(50% - #{$width / 2});


		>*{
			position: absolute;
			color: $grey;
		} 

		.logoHome{
			$width: 130px;
			width: $width;
			left: calc(50% - #{$width / 2});
			bottom: 0;
		}

		.bloc-l{
			span.more
			{
				border-radius: 30px;
				padding: 15px 7px;
				margin-left:10px;
				color: #fff;
				font-size: 2em;
				height: 40px;
				width: 40px;
				display: inline-block;
				line-height: 0;

			}
		}		
		.bloc-r{
			right: 0;
		}
		.flecheOne, 
		.flecheTwo{
			font-size: 5rem;
			color: lighten($grey,20%);
		}

		.flecheOne{
			left: 200px;
			top: 120px;
			transform: rotate(40deg);
		}

		.flecheTwo{
			right: 220px;
			top: 80px;
			transform: rotate(-40deg);
		}
	}
}

/************************ ASIDE *********************/

aside{
	position: fixed;
	z-index: 1;
	width: 250px;
	height: 98%; /*pour les navigateurs qui ne supportent pas calc*/
	height: calc(100% - 10px);

	.mainLogo{
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 320px;
	}

	.header-title{
		position: relative;
		z-index: 4;
	}

	.content {
		height: 100%;
		background: url("../../img/pattern_sidebar.jpg") repeat;
		padding: 20px;

		input,label { display: none; }

		h1 {
			font-family: 'Amaranth', sans-serif;
			font-weight: 400;
			font-size: 2.9rem;
			color: $grey;
			margin-bottom: 10px;
		}	

		h2 {
			@extend h1;
			font-size: 4rem;
			line-height: 3.3rem;
			margin: 0;
		}

		nav{
			margin-top: 250px;

			a{ 
				font-family: 'Raleway', sans-serif;
				font-size: 2.5rem;
				letter-spacing: 0.2rem;
				text-transform: uppercase;
				line-height: 5rem;
				color: $grey; 
				display: inline-block;
				transition: color 0.3s;
							border-bottom: 1px solid rgba(#fff, 0.7);

				&:hover{
					color: lighten($grey,10%);	
				}

			}
			a.active{
				&:first-letter{
					font-size: 1.5em;
				}
			}		
		}

		.wrap-social{
			position: absolute;
			bottom: 10px;
			left: 20px;
			width: 100%;

			ul{
				height: 60px;

			}
			ul li{
				 float: left;
			}

			a {
				background:transparent url('../../img/icons_sprite.svg') left top no-repeat;
				//margin-left: 5px;
				transition: opacity 0.3s;
				width: 55px;
				height: 55px;
				display: inline-block;

				&:hover{
					opacity: 0.7;
				}
			}

			ul li:nth-child(2) a{
				background-position: -60px 0;
			}		
			ul li:nth-child(3) a{
				background-position: -118px 0;
			}			
			ul li:nth-child(4) a{
				background-position: -176px 0;
			}
		}

	}
}

/************************ MAIN SECTION *********************/

section.main{
   	position:relative;
	min-height:100%;
	padding: 40px 40px 60px 300px;

	h2{
		font-family: 'Roboto', sans-serif;
		font-size: 2.3em;
	}

	a{
		text-decoration: underline;
	}
}

/************************ GRILLE VIGNETTE *********************/

.grille-vignette a.box-vignette{
	margin-bottom: 30px;
	position: relative;
	border: 3px solid lighten($grey, 20%);
	box-shadow: 10px 10px 1px lighten($grey, 28%);
	$parent: &; //permet de modifier img quand on est hover sur toute la box-vignette 

	img{
		filter: grayscale(100%)  brightness(1.2);
		transition:filter 0.3s;	
		-webkit-filter: grayscale(100%)  brightness(1.2);

		@at-root #{$parent} { //permet de modifier img quand on est hover sur toute la box-vignette 
     		&:hover img {
				-webkit-filter: grayscale(0%) brightness(1);	
				filter: grayscale(0%) brightness(1);	
				transition:-webkit-filter 0.3s;	
				transition:filter 0.3s;	
			}
		}
	}	

	.wrap-titre{
		position: absolute;
		bottom: 0;
		width: 100%;
		font-family: 'Roboto Condensed', sans-serif;
		color: #eee;
		background:rgba(#666,0.7);
		padding: 10px; 


		h3{
			font-style: italic;
			font-weight: 100;
			margin: 0;
		}

		.chapo{
			font-size: 1.1em;
		}

	}
}

/************************ SINGLE ARTICLE *********************/

article{
	.text-article ul li{
		 text-indent: -28px;
	 	}


	.text-article ul li:before{
		 content:"☞ ";
		margin-right: 8px;
		 color:black; 
	}

	.more-link {
		margin-top: 30px;
			transition: opacity 0.3s;

		svg{
			top:10px;
			position:relative;
		}
		&:hover{
			opacity: 0.7;
		}
	}

	.artPrevNext{
		text-align: right;
		font-size: 2.5rem;
		color: $grey;
		a{
			text-decoration: none;
			font-weight: bold;
			font-size: 4rem;
			position: relative;
			top: 5px;
		}
	}

	.galerie{
		padding-left: 20px;
	}

	.galerie img{
		width: 100%;
		border: 3px solid lighten($grey, 20%);
		box-shadow: 10px 10px 1px lighten($grey, 28%);
	}


}

/************************ COMMENTAIRE *********************/

section[role="comment"]{

	.comment{
		margin-bottom: 20px;
	}
	
}

/*********************** A PROPOS *********************/

.parcours{
	div{ margin-bottom: 15px;}
	div:nth-child(3n+1){
		color:$grey;
		font-size: 2em;
	}
	div:nth-child(3n+2){
		color:$grey;
		p{
			font-size: 1.5em;
		}
	}
}
.skill{
	.grid-sacAdos img{
		margin-bottom: 20px;
		filter: grayscale(100%) brightness(1.1);
		opacity: 0.8;
		&:hover {
			filter: grayscale(0%) brightness(1);	
			transition:filter 0.2s;	
		}
	}
}
.grid-loisir > div{
	max-width: 300px;
}
// .loisir svg{
// 	width: 100%;
// }


/************************ CONTACT *********************/

section[role="contact"]{

	position: relative;

	.bg-contact{
		background:transparent url('../../img/contact.jpg') right bottom no-repeat;
		position: fixed;
		width: 100%;
		height: 100%;
		right: 0;
		bottom: 0;
	}
	.content{
		position: absolute;
		left: 0;
	}

}



/************************ FOOTER *********************/

footer{
	position: absolute;
	bottom: 10px;
	color:#bbb;

	a{
		color:#888;
	}

	span{
		margin:0 8px 0 8px;
	}
}

@import "_style-responsive.scss"; 
