@charset "UTF-8";
/************************ GENERAL *********************/
/* line 14, ../sass/style.scss */
html,
body {
  height: 100%;
}

/* line 19, ../sass/style.scss */
body {
  font-size: 16px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #5d5d5d;
  list-style-type: none;
}

/* line 27, ../sass/style.scss */
ul li {
  list-style-type: none;
}

/* line 30, ../sass/style.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 32, ../sass/style.scss */
.cadre {
  position: fixed;
  z-index: 999999;
}

/* line 36, ../sass/style.scss */
.c-top {
  top: 0;
  height: 10px;
  width: 100%;
}

/* line 37, ../sass/style.scss */
.c-bottom {
  bottom: 0;
  height: 10px;
  width: 100%;
}

/* line 38, ../sass/style.scss */
.c-left {
  left: 0;
  height: 100%;
  width: 10px;
}

/* line 39, ../sass/style.scss */
.c-right {
  right: 0;
  height: 100%;
  width: 10px;
}

/* line 42, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 46, ../sass/style.scss */
.com-alert,
.contact_error,
.contact_success {
  border: 4px solid #FF8080;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 56, ../sass/style.scss */
.contact_success {
  border: 4px solid #9CDD51;
}

/* line 60, ../sass/style.scss */
.error440 {
  position: absolute;
  top: 45%;
  left: calc(50% - 130px);
}
/* line 64, ../sass/style.scss */
.error440 a {
  text-decoration: underline;
}

/************************ CHANGEMENT COULEUR *********************/
/* line 71, ../sass/style.scss */
.theme1 .cRandom {
  color: #dd451b;
}

/* line 72, ../sass/style.scss */
.theme2 .cRandom {
  color: #009189;
}

/* line 73, ../sass/style.scss */
.theme3 .cRandom {
  color: #a04363;
}

/* line 75, ../sass/style.scss */
.theme1 .fRandom {
  fill: #dd451b;
}

/* line 76, ../sass/style.scss */
.theme2 .fRandom {
  fill: #009189;
}

/* line 77, ../sass/style.scss */
.theme3 .fRandom {
  fill: #a04363;
}

/* line 79, ../sass/style.scss */
.theme1 .sRandom {
  stroke: #dd451b;
}

/* line 80, ../sass/style.scss */
.theme2 .sRandom {
  stroke: #009189;
}

/* line 81, ../sass/style.scss */
.theme3 .sRandom {
  stroke: #a04363;
}

/* line 83, ../sass/style.scss */
.theme1 .bgRandom {
  background-color: #dd451b;
}

/* line 84, ../sass/style.scss */
.theme2 .bgRandom {
  background-color: #009189;
}

/* line 85, ../sass/style.scss */
.theme3 .bgRandom {
  background-color: #a04363;
}

/* line 87, ../sass/style.scss */
.theme1 nav a.active::first-letter {
  color: #dd451b;
}

/* line 88, ../sass/style.scss */
.theme2 nav a.active::first-letter {
  color: #009189;
}

/* line 89, ../sass/style.scss */
.theme3 nav a.active::first-letter {
  color: #a04363;
}

/************************ FORMULAIRE *********************/
/* line 93, ../sass/style.scss */
form {
  max-width: 500px;
}

/* line 95, ../sass/style.scss */
input.btn {
  background-color: #f6f6f6;
  padding: 10px 20px;
  margin-right: 10px;
  box-shadow: 1px 3px 1px #eaeaea;
  border: none;
}
/* line 102, ../sass/style.scss */
input.btn:hover {
  color: #909090;
}
/* line 105, ../sass/style.scss */
input.btn:active {
  box-shadow: 0px 1px 1px #eaeaea;
  position: relative;
  top: 2px;
}

/* line 112, ../sass/style.scss */
input,
textarea {
  border: 1px dashed #aaa;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 119, ../sass/style.scss */
textarea {
  width: 100%;
}

/************************ HOME *********************/
/* line 123, ../sass/style.scss */
section.home {
  background: transparent url("../../img/backHome.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
/* line 130, ../sass/style.scss */
section.home .groundHome {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
}
/* line 137, ../sass/style.scss */
section.home .content {
  position: absolute;
  bottom: 225px;
  font-family: 'Amaranth', sans-serif;
  font-size: 2.5rem;
  width: 600px;
  height: 350px;
  left: calc(50% - 300px);
}
/* line 149, ../sass/style.scss */
section.home .content > * {
  position: absolute;
  color: #aaa;
}
/* line 154, ../sass/style.scss */
section.home .content .logoHome {
  width: 130px;
  left: calc(50% - 65px);
  bottom: 0;
}
/* line 162, ../sass/style.scss */
section.home .content .bloc-l span.more {
  border-radius: 30px;
  padding: 15px 7px;
  margin-left: 10px;
  color: #fff;
  font-size: 2em;
  height: 40px;
  width: 40px;
  display: inline-block;
  line-height: 0;
}
/* line 176, ../sass/style.scss */
section.home .content .bloc-r {
  right: 0;
}
/* line 179, ../sass/style.scss */
section.home .content .flecheOne,
section.home .content .flecheTwo {
  font-size: 5rem;
  color: #dddddd;
}
/* line 185, ../sass/style.scss */
section.home .content .flecheOne {
  left: 200px;
  top: 120px;
  transform: rotate(40deg);
}
/* line 191, ../sass/style.scss */
section.home .content .flecheTwo {
  right: 220px;
  top: 80px;
  transform: rotate(-40deg);
}

/************************ ASIDE *********************/
/* line 201, ../sass/style.scss */
aside {
  position: fixed;
  z-index: 1;
  width: 250px;
  height: 98%;
  /*pour les navigateurs qui ne supportent pas calc*/
  height: calc(100% - 10px);
}
/* line 208, ../sass/style.scss */
aside .mainLogo {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 320px;
}
/* line 215, ../sass/style.scss */
aside .header-title {
  position: relative;
  z-index: 4;
}
/* line 220, ../sass/style.scss */
aside .content {
  height: 100%;
  background: url("../../img/pattern_sidebar.jpg") repeat;
  padding: 20px;
}
/* line 225, ../sass/style.scss */
aside .content input, aside .content label {
  display: none;
}
/* line 227, ../sass/style.scss */
aside .content h1, aside .content h2 {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-size: 2.9rem;
  color: #aaa;
  margin-bottom: 10px;
}
/* line 235, ../sass/style.scss */
aside .content h2 {
  font-size: 4rem;
  line-height: 3.3rem;
  margin: 0;
}
/* line 242, ../sass/style.scss */
aside .content nav {
  margin-top: 250px;
}
/* line 245, ../sass/style.scss */
aside .content nav a {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  line-height: 5rem;
  color: #aaa;
  display: inline-block;
  transition: color 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
/* line 256, ../sass/style.scss */
aside .content nav a:hover {
  color: #c3c3c3;
}
/* line 262, ../sass/style.scss */
aside .content nav a.active:first-letter {
  font-size: 1.5em;
}
/* line 268, ../sass/style.scss */
aside .content .wrap-social {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 100%;
}
/* line 274, ../sass/style.scss */
aside .content .wrap-social ul {
  height: 60px;
}
/* line 278, ../sass/style.scss */
aside .content .wrap-social ul li {
  float: left;
}
/* line 282, ../sass/style.scss */
aside .content .wrap-social a {
  background: transparent url("../../img/icons_sprite.svg") left top no-repeat;
  transition: opacity 0.3s;
  width: 55px;
  height: 55px;
  display: inline-block;
}
/* line 290, ../sass/style.scss */
aside .content .wrap-social a:hover {
  opacity: 0.7;
}
/* line 295, ../sass/style.scss */
aside .content .wrap-social ul li:nth-child(2) a {
  background-position: -60px 0;
}
/* line 298, ../sass/style.scss */
aside .content .wrap-social ul li:nth-child(3) a {
  background-position: -118px 0;
}
/* line 301, ../sass/style.scss */
aside .content .wrap-social ul li:nth-child(4) a {
  background-position: -176px 0;
}

/************************ MAIN SECTION *********************/
/* line 311, ../sass/style.scss */
section.main {
  position: relative;
  min-height: 100%;
  padding: 40px 40px 60px 300px;
}
/* line 316, ../sass/style.scss */
section.main h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3em;
}
/* line 321, ../sass/style.scss */
section.main a {
  text-decoration: underline;
}

/************************ GRILLE VIGNETTE *********************/
/* line 328, ../sass/style.scss */
.grille-vignette a.box-vignette {
  margin-bottom: 30px;
  position: relative;
  border: 3px solid #dddddd;
  box-shadow: 10px 10px 1px #f1f1f1;
}
/* line 335, ../sass/style.scss */
.grille-vignette a.box-vignette img {
  filter: grayscale(100%) brightness(1.2);
  transition: filter 0.3s;
  -webkit-filter: grayscale(100%) brightness(1.2);
}
/* line 341, ../sass/style.scss */
.grille-vignette a.box-vignette:hover img {
  -webkit-filter: grayscale(0%) brightness(1);
  filter: grayscale(0%) brightness(1);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
}
/* line 350, ../sass/style.scss */
.grille-vignette a.box-vignette .wrap-titre {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #eee;
  background: rgba(102, 102, 102, 0.7);
  padding: 10px;
}
/* line 360, ../sass/style.scss */
.grille-vignette a.box-vignette .wrap-titre h3 {
  font-style: italic;
  font-weight: 100;
  margin: 0;
}
/* line 366, ../sass/style.scss */
.grille-vignette a.box-vignette .wrap-titre .chapo {
  font-size: 1.1em;
}

/************************ SINGLE ARTICLE *********************/
/* line 376, ../sass/style.scss */
article .text-article ul li {
  text-indent: -28px;
}
/* line 381, ../sass/style.scss */
article .text-article ul li:before {
  content: "☞ ";
  margin-right: 8px;
  color: black;
}
/* line 387, ../sass/style.scss */
article .more-link {
  margin-top: 30px;
  transition: opacity 0.3s;
}
/* line 391, ../sass/style.scss */
article .more-link svg {
  top: 10px;
  position: relative;
}
/* line 395, ../sass/style.scss */
article .more-link:hover {
  opacity: 0.7;
}
/* line 400, ../sass/style.scss */
article .artPrevNext {
  text-align: right;
  font-size: 2.5rem;
  color: #aaa;
}
/* line 404, ../sass/style.scss */
article .artPrevNext a {
  text-decoration: none;
  font-weight: bold;
  font-size: 4rem;
  position: relative;
  top: 5px;
}
/* line 413, ../sass/style.scss */
article .galerie {
  padding-left: 20px;
}
/* line 417, ../sass/style.scss */
article .galerie img {
  width: 100%;
  border: 3px solid #dddddd;
  box-shadow: 10px 10px 1px #f1f1f1;
}

/************************ COMMENTAIRE *********************/
/* line 430, ../sass/style.scss */
section[role="comment"] .comment {
  margin-bottom: 20px;
}

/*********************** A PROPOS *********************/
/* line 439, ../sass/style.scss */
.parcours div {
  margin-bottom: 15px;
}
/* line 440, ../sass/style.scss */
.parcours div:nth-child(3n+1) {
  color: #aaa;
  font-size: 2em;
}
/* line 444, ../sass/style.scss */
.parcours div:nth-child(3n+2) {
  color: #aaa;
}
/* line 446, ../sass/style.scss */
.parcours div:nth-child(3n+2) p {
  font-size: 1.5em;
}

/* line 452, ../sass/style.scss */
.skill .grid-sacAdos img {
  margin-bottom: 20px;
  filter: grayscale(100%) brightness(1.1);
  opacity: 0.8;
}
/* line 456, ../sass/style.scss */
.skill .grid-sacAdos img:hover {
  filter: grayscale(0%) brightness(1);
  transition: filter 0.2s;
}

/* line 462, ../sass/style.scss */
.grid-loisir > div {
  max-width: 300px;
}

/************************ CONTACT *********************/
/* line 472, ../sass/style.scss */
section[role="contact"] {
  position: relative;
}
/* line 476, ../sass/style.scss */
section[role="contact"] .bg-contact {
  background: transparent url("../../img/contact.jpg") right bottom no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}
/* line 484, ../sass/style.scss */
section[role="contact"] .content {
  position: absolute;
  left: 0;
}

/************************ FOOTER *********************/
/* line 495, ../sass/style.scss */
footer {
  position: absolute;
  bottom: 10px;
  color: #bbb;
}
/* line 500, ../sass/style.scss */
footer a {
  color: #888;
}
/* line 504, ../sass/style.scss */
footer span {
  margin: 0 8px 0 8px;
}

/***************** HOME HORIZONTAL **********************/
@media screen and (max-width: 660px) {
  /* line 6, ../sass/_style-responsive.scss */
  section.home .groundHome {
    height: 200px;
  }
  /* line 7, ../sass/_style-responsive.scss */
  section.home .content {
    height: 430px;
    width: 230px;
    bottom: 145px;
    left: calc(50% - 115px);
  }
  /* line 14, ../sass/_style-responsive.scss */
  section.home .content .logoHome {
    width: 100px;
  }
  /* line 16, ../sass/_style-responsive.scss */
  section.home .content .bloc-l {
    top: 100px;
  }
  /* line 18, ../sass/_style-responsive.scss */
  section.home .content .bloc-r p {
    margin-top: 0;
  }
  /* line 20, ../sass/_style-responsive.scss */
  section.home .content .flecheOne, section.home .content .flecheTwo {
    display: none;
  }
}
/***************** HOME VERTICAL **********************/
@media screen and (max-height: 520px) {
  /* line 30, ../sass/_style-responsive.scss */
  aside .content .wrap-social {
    display: none;
  }
}
@media screen and (max-height: 580px) {
  /* line 38, ../sass/_style-responsive.scss */
  section.home .groundHome {
    height: 100px;
  }
  /* line 40, ../sass/_style-responsive.scss */
  section.home .content {
    bottom: 60px;
    height: 330px;
    font-size: 1.3em;
  }
  /* line 44, ../sass/_style-responsive.scss */
  section.home .content .logoHome {
    width: 80px;
  }
  /* line 45, ../sass/_style-responsive.scss */
  section.home .content .bloc-l {
    top: 70px;
  }
}
@media screen and (max-height: 660px) {
  /* line 54, ../sass/_style-responsive.scss */
  aside .content nav {
    margin-top: 175px;
  }
  /* line 56, ../sass/_style-responsive.scss */
  aside .content nav a {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (max-height: 750px) {
  /* line 67, ../sass/_style-responsive.scss */
  section[role="contact"] .bg-contact {
    bottom: -260px;
    min-height: 800px;
  }
}
/***************** MEDIUM**********************/
@media screen and (max-width: 1150px) {
  /* line 79, ../sass/_style-responsive.scss */
  article .text-article, article .galerie {
    width: 100%;
  }
}
/***************** SMALL**********************/
@media screen and (max-width: 768px) {
  /* line 90, ../sass/_style-responsive.scss */
  .marge-footer {
    height: 50px;
  }

  /* line 96, ../sass/_style-responsive.scss */
  aside {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 130px;
  }
  /* line 102, ../sass/_style-responsive.scss */
  aside .mainLogo {
    margin-top: -110px;
    margin-left: -50px;
    width: 190px;
  }
  /* line 108, ../sass/_style-responsive.scss */
  aside .content {
    padding: 0;
  }
  /* line 109, ../sass/_style-responsive.scss */
  aside .content > * {
    float: left;
  }
  /* line 113, ../sass/_style-responsive.scss */
  aside .content label {
    display: block;
  }
  /* line 114, ../sass/_style-responsive.scss */
  aside .content input:checked ~ ul {
    max-height: 25em;
    opacity: 1;
    transition: 0.5s;
  }
  /* line 115, ../sass/_style-responsive.scss */
  aside .content input:not(:checked) ~ ul {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
  /* line 122, ../sass/_style-responsive.scss */
  aside .content .header-title {
    margin: 14px 0 0 103px;
    width: 145px;
  }
  /* line 126, ../sass/_style-responsive.scss */
  aside .content .header-title h1, aside .content .header-title h2, aside .content .header-title h2 {
    font-size: 1.3em;
    line-height: 25px;
  }
  /* line 132, ../sass/_style-responsive.scss */
  aside .content nav, aside .content .wrap-social {
    width: 100%;
  }
  /* line 136, ../sass/_style-responsive.scss */
  aside .content nav ul, aside .content .wrap-social ul {
    background: url("../../img/pattern_sidebar.jpg") repeat;
    width: 100%;
  }
  /* line 141, ../sass/_style-responsive.scss */
  aside .content label {
    position: absolute;
    top: 0;
    padding-top: 40px;
    background: rgba(170, 170, 170, 0.3);
    height: 100%;
    width: calc((100% - 230px) / 2);
    text-align: center;
    margin: 0;
    border-left: 8px solid rgba(255, 255, 255, 0.7);
    font-size: 5rem;
  }
  /* line 154, ../sass/_style-responsive.scss */
  aside .content nav {
    margin-top: 20px;
  }
  /* line 157, ../sass/_style-responsive.scss */
  aside .content nav label {
    left: 230px;
  }
  /* line 161, ../sass/_style-responsive.scss */
  aside .content nav ul li a {
    line-height: 60px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
  }
  /* line 167, ../sass/_style-responsive.scss */
  aside .content .wrap-social {
    position: static;
  }
  /* line 170, ../sass/_style-responsive.scss */
  aside .content .wrap-social label {
    right: 0;
    color: #aaaaaa;
  }
  /* line 174, ../sass/_style-responsive.scss */
  aside .content .wrap-social ul {
    height: 100px;
  }
  /* line 179, ../sass/_style-responsive.scss */
  aside .content .wrap-social ul li {
    width: 25%;
    margin-top: 20px;
    display: inline-flex;
  }
  /* line 183, ../sass/_style-responsive.scss */
  aside .content .wrap-social ul li a {
    margin: 0 auto;
  }

  /* line 192, ../sass/_style-responsive.scss */
  section.main {
    position: relative;
    min-height: 100%;
    padding: 180px 20px 20px 20px;
  }
}
/***************** TINY**********************/
@media screen and (max-width: 540px) {
  /* line 207, ../sass/_style-responsive.scss */
  section.main {
    padding: 140px 20px 20px 20px;
  }

  /* line 211, ../sass/_style-responsive.scss */
  aside {
    height: 110px;
  }
  /* line 214, ../sass/_style-responsive.scss */
  aside .content .header-title {
    margin: 20px 0px 0px 20px;
  }
  /* line 217, ../sass/_style-responsive.scss */
  aside .content .header-title h1, aside .content .header-title h2, aside .content .header-title h2 {
    line-height: 18px;
  }
  /* line 221, ../sass/_style-responsive.scss */
  aside .content label {
    width: calc((100% - 145px) / 2);
    font-size: 3rem;
    padding-top: 40px;
  }
  /* line 226, ../sass/_style-responsive.scss */
  aside .content nav label {
    left: 145px;
  }

  /* line 232, ../sass/_style-responsive.scss */
  footer {
    font-size: 1.3rem;
  }
}
