#champart {
    margin-bottom: 30px;
}
#champart p{
    margin-top: 10px;
}
#champart blockquote{
    background-color: #FFF; 
    border: 1px solid #CCC; 
    padding: 10px; 
    margin-bottom: 30px;
}
#champart fieldset {
    border: 0;
}
#champart fieldset.article{
    width: 470px; 
    min-height: 130px; 
    margin: 30px 0; 
    padding: 0 150px 30px 30px;
    border: solid 1px grey;
}
#champart fieldset legend {
    padding: 0 10px; 
    margin-left: -20px; 
    font-weight: bold; 
    font-size: 1em; 
    color: #2175BD;
}
#champart fieldset legend a {
    margin-left: 10px;
}
#champart ul{
    margin: 0; 
    padding: 0;
}
#champart ul li{
    display: inline; 
    list-style: none; 
    margin-right: 20px;
}
#champart label {
    font-weight: bold; 
    font-size: 1em;
}